#################################
#
# FFMPEG
#
#################################

ffmpeg = FFMPEG executable path
ffprobe = FFPROBE executable path

#################################
#
# Media Server 
#
#################################

#####   Server Information  #####

mediaServer = on | off
mediaPORT = Media server port

#####   Camera Information  #####
# Separate by commas & don't add spaces
# And make sure its URL safe!

cameraUsernames =RTSP usernames
cameraPasswords =RTSP passwords
cameraIPs = RTSP IP addresses
cameraPORTs = RTSP ports

#################################
#
# Web Dav Server 
#
#################################

#####   Server Information  #####

webdav = on | off
webdavPORT = WebDav Port

#####   Web Dav Information #####

webDavUsername = WebDav username
webDavPassword = WebDav password
webDavfilePath = WebDav server file path

#################################
#
# Web Server 
#
#################################

#####   Server Information  #####

webServer = on | off
PORT = Web server port

#####   Server Selection    #####

converter = on | off | proxy
scheduler = on | off
commander = on | off

#####   File Path Details   #####

filePath = Converter file path

#####   Networking Details  #####

baseHost = IP address of the commander machine
baseUsername = SSH username of the user on the commander machine
baseAuth = SSH password or key on the commander machine
sshAuthType = pass | key
commandHost = IP address of the machine running the commander

#####   Webhooks and URLs   #####

alertURL = Web Server & scheduler webhook url

#################################