##################################################################
#
# Command
#
##################################################################

#####   Server Information    #####

commander = on | off

##################################################################
#
# Other Server Information 
#
##################################################################

#####   Networking Details  #####

PORT = Web server port

#####   File Path Details   #####

# If converter or commander is on
filePath = Converter file path

#####   Authorization Info  #####
passwordPath = Path for password text file (dont fret, it will be hashed)
SECRETKEY = AUTH SECRET KEY FOR HASHING

##################################################################