##################################################################
#
# Schedule
#
##################################################################

#####   Server Information  #####

scheduler = on | off | proxy

#####   Networking Details  #####

# If scheduler is proxied
schedulerHost = IP of machine with scheduler

commandHost = IP address of the machine running the commander

#####   Webhooks and URLs   #####

scheduleURL = Scheduler alert webhook url