##################################################################
#
# Storage Server 
#
##################################################################

#####   Server Information  #####

converter = on | off | proxy

#####   Networking Details  #####

# If converter is proxied
converterHost = IP of machine with converter
baseUsername = SSH username of the user on the converter machine
baseAuth = SSH password or key on the converter machine
sshAuthType = pass | key

#####   Webhooks and URLs   #####

alertURL = Converter alert webhook url