@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body,
	#root {
		height: 100%;
	}

	body {
		@apply bg-bg text-primary font-sans antialiased;
	}

	* {
		@apply border-border;
	}
}

.spin {
	animation: spin 2s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
